details {
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaaaaa;
  margin-bottom: 0.5em;
}


table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.2px;
}

th{
    border: 1.5px solid rgb(160 160 160);
}

td {
  border: 1.5px solid rgb(160 160 160);
  font-size: 0.55rem;
}

td:last-of-type {
  text-align: center;
}

tfoot th {
  text-align: right;
}

tfoot td {
  font-weight: bold;
}
